.ReminderList {
    margin: 1em 0.5em;
    font-size: 1.25em;
}

.ReminderSubList {
    margin-bottom: 1em;
}

.current {
    font-size: 1.5em;
}

.button {
    margin: 0 1em;
}
.button img {
    max-width: 20px;
}

@media (max-width: 500px) {
    .ReminderList {
        font-size: 1em;
    }
    .current {
        font-size: 1.2em;
    }
}
